AntServiceStack.Extensions.MobileRequestFilter/MobileAuthServiceClient/MobileAuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--WSDL generated by ant WSDL Wizard Tool; version 2.0.6.1-->
<!--Tuesday, 28-04-2015 - 10:07 AM-->
<definitions name="MobileAuthService" 
             targetNamespace="http://soa.ant.com/platform/crm/mobileauthservice/v1" 
             xmlns:import0="http://soa.ant.com/common/types/v1" 
             xmlns:import1="http://soa.ant.com/mobile/common/types/v1" 
             xmlns:import2="http://soa.ant.com/platform/crm/mobileauthservice/v1" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
             xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="AntSOACommonTypes_V1.0.0.xsd" namespace="http://soa.ant.com/common/types/v1" />
      <xsd:import schemaLocation="AntSOAMobileCommonTypes_V1.0.0.xsd" namespace="http://soa.ant.com/mobile/common/types/v1" />
      <xsd:import schemaLocation="MobileAuthService.xsd" namespace="http://soa.ant.com/platform/crm/mobileauthservice/v1" />
    </xsd:schema>
  </types>
  <message name="checkHealthIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthRequest" />
  </message>
  <message name="checkHealthOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthResponse" />
  </message>
  <message name="validateAndGetNewTokenIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import2:ValidateAndGetNewTokenRequest" />
  </message>
  <message name="validateAndGetNewTokenOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import2:ValidateAndGetNewTokenResponse" />
  </message>
  <portType name="MobileAuthServiceInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="CheckHealth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="import2:checkHealthIn" />
      <output message="import2:checkHealthOut" />
    </operation>
    <operation name="ValidateAndGetNewToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="import2:validateAndGetNewTokenIn" />
      <output message="import2:validateAndGetNewTokenOut" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_MobileAuthServiceInterface" type="import2:MobileAuthServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CheckHealth">
      <soap:operation soapAction="http://soa.ant.com/platform/crm/mobileauthservice/v1:checkHealthIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidateAndGetNewToken">
      <soap:operation soapAction="http://soa.ant.com/platform/crm/mobileauthservice/v1:validateAndGetNewTokenIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MobileAuthService">
    <port name="MobileAuthServicePort" binding="import2:BasicHttpBinding_MobileAuthServiceInterface">
      <soap:address location="http://localhost/MobileAuthService" />
    </port>
  </service>
</definitions>