AntServiceStack.Extensions.MobileRequestFilter/SecondAuthServiceClient/Authorization.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--WSDL generated by CTrip WSDL Wizard Tool; version 2.0.7.1-->
<!--Tuesday, 01-09-2015 - 06:23 PM-->
<definitions xmlns:import0="http://soa.ctrip.com/platform/account/authorization/v1" xmlns:import2="http://soa.ctrip.com/mobile/common/types/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import1="http://soa.ctrip.com/common/types/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="Authorization" targetNamespace="http://soa.ctrip.com/platform/account/authorization/v1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="Authorization.xsd" namespace="http://soa.ctrip.com/platform/account/authorization/v1" />
      <xsd:import schemaLocation="CTripSOACommonTypes_V1.0.0.xsd" namespace="http://soa.ctrip.com/common/types/v1" />
      <xsd:import schemaLocation="CTripSOAMobileCommonTypes_V1.0.0.xsd" namespace="http://soa.ctrip.com/mobile/common/types/v1" />
    </xsd:schema>
  </types>
  <message name="checkHealthIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:CheckHealthRequest" />
  </message>
  <message name="checkHealthOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:CheckHealthResponse" />
  </message>
  <message name="checkSecondTokenIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckSecondTokenRequest" />
  </message>
  <message name="checkSecondTokenOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckSecondTokenResponse" />
  </message>
  <message name="genSecondAuthorizationTokenIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:GenSecondAuthorizationTokenRequest" />
  </message>
  <message name="genSecondAuthorizationTokenOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:GenSecondAuthorizationTokenResponse" />
  </message>
  <portType name="AuthorizationInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="CheckHealth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="import0:checkHealthIn" />
      <output message="import0:checkHealthOut" />
    </operation>
    <operation name="CheckSecondToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="import0:checkSecondTokenIn" />
      <output message="import0:checkSecondTokenOut" />
    </operation>
    <operation name="GenSecondAuthorizationToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="import0:genSecondAuthorizationTokenIn" />
      <output message="import0:genSecondAuthorizationTokenOut" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_AuthorizationInterface" type="import0:AuthorizationInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CheckHealth">
      <soap:operation soapAction="http://soa.ctrip.com/platform/account/authorization/v1:checkHealthIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckSecondToken">
      <soap:operation soapAction="http://soa.ctrip.com/platform/account/authorization/v1:checkSecondTokenIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GenSecondAuthorizationToken">
      <soap:operation soapAction="http://soa.ctrip.com/platform/account/authorization/v1:genSecondAuthorizationTokenIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Authorization">
    <port name="AuthorizationPort" binding="import0:BasicHttpBinding_AuthorizationInterface">
      <soap:address location="http://localhost/Authorization" />
    </port>
  </service>
</definitions>