Test/TestContract/CloudBagRestFulApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--WSDL generated by CTrip WSDL Wizard Tool; version 2.0.9.2-->
<!--Monday, 06-03-2017 - 02:03 PM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="http://soa.ctrip.com/mobile/common/types/v1" xmlns:import2="http://tempuri.org/HelloWord.xsd" xmlns:tns="http://soa.ctrip.com/innovationwork/CloudBag/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import0="http://soa.ctrip.com/common/types/v1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="CloudBagRestFulApi" targetNamespace="http://soa.ctrip.com/innovationwork/CloudBag/v1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="CTripSOACommonTypes_V1.0.0.xsd" namespace="http://soa.ctrip.com/common/types/v1" />
      <xsd:import schemaLocation="CTripSOAMobileCommonTypes_V1.1.0.xsd" namespace="http://soa.ctrip.com/mobile/common/types/v1" />
      <xsd:import schemaLocation="HelloWord.xsd" namespace="http://tempuri.org/HelloWord.xsd" />
    </xsd:schema>
  </types>
  <message name="checkHealthIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthRequest" />
  </message>
  <message name="checkHealthOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthResponse" />
  </message>
  <message name="helloWorldIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import2:HelloWorldRequest" />
  </message>
  <message name="helloWorldOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import2:HelloWorldResponse" />
  </message>
  <portType name="CloudBagRestFulApiInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="CheckHealth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:checkHealthIn" />
      <output message="tns:checkHealthOut" />
    </operation>
    <operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:helloWorldIn" />
      <output message="tns:helloWorldOut" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_CloudBagRestFulApiInterface" type="tns:CloudBagRestFulApiInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CheckHealth">
      <soap:operation soapAction="http://soa.ctrip.com/innovationwork/CloudBag/v1:checkHealthIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="HelloWorld">
      <soap:operation soapAction="http://soa.ctrip.com/innovationwork/CloudBag/v1:helloWorldIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CloudBagRestFulApi">
    <port name="CloudBagRestFulApiPort" binding="tns:BasicHttpBinding_CloudBagRestFulApiInterface">
      <soap:address location="http://localhost/CloudBagRestFulApi" />
    </port>
  </service>
</definitions>