Test/TestContract/helloyuzd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--WSDL generated by Ant WSDL Wizard Tool; version 1.0.0.0-->
<!--Tuesday, 28-03-2017 - 09:20 PM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="http://soa.ant.com/mobile/common/types/v1" xmlns:import2="http://tempuri.org/HelloYuzd.xsd" xmlns:tns="http://soa.ant.com/nihao/ceshi/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import0="http://soa.ant.com/common/types/v1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="helloyuzd" targetNamespace="http://soa.ant.com/nihao/ceshi/v1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="AntSOACommonTypes_V1.0.0.xsd" namespace="http://soa.ant.com/common/types/v1" />
      <xsd:import schemaLocation="AntSOAMobileCommonTypes_V1.1.0.xsd" namespace="http://soa.ant.com/mobile/common/types/v1" />
      <xsd:import schemaLocation="HelloYuzd.xsd" namespace="http://tempuri.org/HelloYuzd.xsd" />
    </xsd:schema>
  </types>
  <message name="helloWorldIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import2:HelloWorldRequest" />
  </message>
  <message name="helloWorldOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import2:HelloWorldResponse" />
  </message>
  <message name="helloWorldAsyncIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import2:HelloWorldAsyncRequest" />
  </message>
  <message name="helloWorldAsyncOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import2:HelloWorldAsyncResponse" />
  </message>
  <portType name="helloyuzdInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:helloWorldIn" />
      <output message="tns:helloWorldOut" />
    </operation>
    <operation name="HelloWorldAsync">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:helloWorldAsyncIn" />
      <output message="tns:helloWorldAsyncOut" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_helloyuzdInterface" type="tns:helloyuzdInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="HelloWorld">
      <soap:operation soapAction="http://soa.ant.com/nihao/ceshi/v1:helloWorldIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="HelloWorldAsync">
      <soap:operation soapAction="http://soa.ant.com/nihao/ceshi/v1:helloWorldAsyncIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="helloyuzd">
    <port name="helloyuzdPort" binding="tns:BasicHttpBinding_helloyuzdInterface">
      <soap:address location="http://localhost/helloyuzd" />
    </port>
  </service>
</definitions>